main {
    background-color: rgb(241, 239, 239);
    padding-bottom: 24px;
}

/* Section Categorias */
.container_categorias {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "titulo titulo";
    gap: 16px;
    align-items: center;
    justify-content: center;
    border: solid 10px var(--verde);
    border-bottom: none;
}

.container_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

.categorias_cards {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border: solid 3px var(--cinzaescuro);
}

/* Titulos do site */

.titulo {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    margin: 24px 0 8px;
}

.categoria {
    grid-area: titulo;
    justify-content: space-between;
}

.descricao_categorias {

    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    padding: 8px 32.5px;
}


/* Section Produtos que estão bombando! */

.produtos_bombando {
    border: solid 10px var(--cinzaescuro);
    border-bottom: none;
    border-top: none;
}

.container_bombando {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "produtosb";



    padding-bottom: 48px;

    gap: 30px;
}

.bombando {
    grid-area: produtosb;
    width: 323px;
    /* margin: 54px 0px 0px; */
    padding-top: 54px;
    margin: 0 auto;
    text-align: center;
}

.produtos_cards {
    margin: 0 auto;
    width: 325px;
    min-height: 607px;
    display: flex;
    flex-direction: column;
    border: solid 2px var(--cinzaescuro);
}

.descricaoprodutos {
    height: 117px;
}

.img_produtos {
    width: 321px;
    height: 402px;
}

.descricao_produtos {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    padding: 13px 13px;
}

.bomb_text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    padding: 0px 13px;
}

.bomb_valor {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    padding: 0px 16px 10px;
}

/* Conheça todas as nossas facilidades */

.facilidades {
    color: var(--branco);
    background-color: var(--preto); 
}

.container_facilidades{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 20px;
}

.facilidades h4 {
    margin: 0 auto;
    width: 321px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.card_facilidades {
    display: flex;
    align-self: center;
    align-items: center;
    gap: 24px;
}

.facilidades h5 {
    margin: 0;
    color: var(--verde);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
}

.facilidades p {
    margin: 0;
    color: var(--branco);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

/* Section input Email */

.container_email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 321px;
    margin: 24px auto 0px;
    border: solid 1px var(--preto);
    background-color: rgb(241, 239, 239);
}

.input_text {
    width: 321px;
    text-align: center;
    padding: 20px;
    margin: 0px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.input_email {
    width: 60%;
    height: 38px;
    padding: 0px 15px;
}

.container_enviar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}