header .top {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--preto);
    border-bottom: 1px solid #fff;
}

.logo {
    padding-left: 22px;
}

.container_header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* LUPA PESQUISA */

.search-box {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    right: 50%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cinzaescuro);
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    color: var(--branco);
    padding: 0;
    font-size: 16px;
    width: 0;
    transition: .4s;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.search-box:hover > .search-txt {
    width: 125px;
}

/* MENU-HAMBURGUER */

#nav {
    padding-right: 21px;
}

#menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    width: 144px;
    height: 197px;
    padding: 62px 0px 15px;
    /* padding: 15px 0px 15px; */
    top: 0px;
    /* top: 57px; */
    right: -5px;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--cinzaescuro);
    z-index: 1;
}

#nav.active #menu {
    height: auto;
    visibility: visible;
    overflow-y: auto;
    overflow-x: hidden;
}

#menu, .icons_menu{
    margin-right: 5px;
}

#menu li {
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 0px 24px;
}

#menu li:nth-child(4) {
    border-bottom: none;
}

#menu a {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 8px;
    color: var(--branco);
    white-space: nowrap;
}

#menu a:active {
    font-weight: 700;
    color: var(--verde);
}

#menu a:hover {
    background-color: #ffffff2c;
    /* transition: all 0.2s ease; */
}

#btn-mobile {
    display: flex;
    padding: .5rem 0.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    gap: .5rem;
    color: var(--verde);
    background-color: transparent;
}

#hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
    z-index: 2;
}

#hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#nav.active #hamburger {
    border-top-color: transparent;
}
#nav.active #hamburger:before {
    transform: rotate(135deg);
}
#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}